if SHIELD_CHOCBOARD_RIGHT

config ZMK_KEYBOARD_NAME
    default "chocboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


config ZMK_USB
    default y

if SHIELD_CHOCBOARD_RIGHT || SHIELD_CHOCBOARD_LEFT

config ZMK_SPLIT
    default y

endif